@font-face {
  font-family: "remixicon";
  src: url("https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="ri-"],
[class*=" ri-"] {
  font-family: "remixicon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
